/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$large: "only screen and (min-width : 768px)";

.sass-brand {
   padding: 5px 15px;

   .sass-brand-img{
      width: 40px;
   }
}


.navbar-wrapper {
   position: relative;
   top: 0;
   right: 0;
   left: 0;
   z-index: 20;
   @media #{$large}{
      margin-top: 20px;
   }
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
   padding-right: 0;
   padding-left: 0;
   @media #{$large} {
      padding-right: 15px;
      padding-left: 15px;
   }
}
.navbar-wrapper .navbar {
   padding-right: 15px;
   padding-left: 15px;
   @media #{$large} {
      padding-right: 0;
      padding-left: 0;
      border-radius: 4px;
   }
}
.navbar-wrapper .navbar .container {
   width: auto;
}
.content-border {
  margin-top: 30px;
}
/* .jumbotron {
   margin-top: 120px;
} */

td:not(:first-child),th:not(:first-child) {
    color: red;
    text-align: right;
    width:100px;
}
body {
  background: url('/assets/images/pizzaBCG.jpg') no-repeat;
  background-position: center top;
  background-size: cover;
}
.bc-color {
  background-color: #EEEEEE;
}
.navbar {
  background-color: #EEEEEE;
}
.active {
  background-color: black;
}
.navbar-text {
  line-height: 20px;
}

$bgDefault      : #d5d5ce;
$bgHighlight    : #5c5c5c;
$colDefault     : #417d8c;
$colHighlight   : #7eaddb;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
/* #navbar {
  div{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
} */
/* .bcg-img {
  position: absolute;
  left: 0;
  top: 0;
} */
/* @media (min-width: 768px) {
  Navbar positioning foo
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  The navbar becomes detached from the top, so we round the corners
  .navbar-wrapper .navbar {
    border-radius: 4px;
  } */