<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 bc-color">
   <div class="table-responsive">
   <table class="table table-hover">

      <thead>
         <tr>
            <th>Pizza &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-left" aria-hidden="true"> Prev</i>
            <span>Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
               </th>
               <th>Price
                  <i class="fa fa-sort" aria-hidden="true"></i>
               </th>
               <th>Grade
                  <i class="fa fa-sort" aria-hidden="true"></i>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="pizza in plc.pizzas">
            <td>
               <h3>{{pizza.name}}</h3>
               <p>{{pizza.description}}</p>
            </td>
            <td>{{pizza.price}}</td>
            <td>{{pizza.grade}}</td>
         </tr>
      </tbody>
      <!-- <div class="row gray">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" ng-repeat="pizza in plc.pizzas">
            <h4><a ng-href ng-click="plc.editOrder(pizza._id)">{{pizza.name}}</a></h4><br>
            <p>{{pizza.description}}</p>
            <span class="pull-right">
                <span>{{pizza.price}} e</span>
                <span>{{pizza.grade}}</span>
            </span>
        </div>
          </div> -->
   </table>
   </div>
</div>

