<div class="row col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
   <div class="table-responsive">


   <table class="table table-hover">
      <caption class="text-center">Pizza List</caption>
      <thead>
         <tr>
            <th>Pizza &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-angle-double-left" aria-hidden="true"> Prev</i>
            <span>Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
               </th>
               <th>Price
                  <i class="fa fa-sort" aria-hidden="true"></i>
               </th>
               <th>Grade
                  <i class="fa fa-sort" aria-hidden="true"></i>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>
               <h3>Name of Pizza</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente doloribus a enim ut aut explicabo veniam perferendis, praesentium itaque earum reprehenderit, eos maxime minus. Optio temporibus est blanditiis vel asperiores!</p>
            </td>
            <td>Cena pizze</td>
            <td>ocena pizze</td>
         </tr>
         <tr>
            <td>data</td>
            <td>data</td>
            <td>data</td>
         </tr>
         <tr>
            <td>data</td>
            <td>data</td>
            <td>data</td>
         </tr>
         <tr>
            <td>data</td>
            <td>data</td>
            <td>data</td>
         </tr>
      </tbody>
   </table>
   </div>
</div>

