<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 bc-color">
   <div class="table-responsive">
   <table class="table table-hover">

      <thead>
         <tr>
            <th>Pizza &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" ng-click="plc.changePage(plc.page - 1)" ng-disabled="plc.page === 1" ><i class="fa fa-angle-double-left" aria-hidden="true"> Prev</i></button>
            <!--it can be also done with ng-show
            ng-show="plc.page !== 1"
            ng-show="plc.page < plc.noPages" -->

            <button class="btn btn-primary" ng-click="plc.changePage(plc.page + 1)" ng-disabled="plc.page === plc.noPages" >Next <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
               </th>
               <th>Price
                  <button class="btn btn-primary" ng-click="plc.sort('price')">
                  <i class="fa fa-sort disabled" ng-hide="plc.sortCriteria === 'price'" aria-hidden="true"></i>
                  <i class="fa fa-sort-desc" ng-show="plc.sortCriteria == 'price' && plc.sortDirection == 'asc'"></i>
                  <i class="fa fa-sort-asc" ng-show="plc.sortCriteria == 'price' && plc.sortDirection == 'desc'"></i>
                  </button>
               </th>
               <!-- not sure what disabled class do's here -->
               <th>Grade
                  <button class="btn btn-primary" ng-click="plc.sort('grade')">
                  <i class="fa fa-sort disabled" ng-hide="plc.sortCriteria === 'grade'" aria-hidden="true"></i>
                  <i class="fa fa-sort-desc" ng-show="plc.sortCriteria == 'grade' && plc.sortDirection == 'asc'"></i>
                  <i class="fa fa-sort-asc" ng-show="plc.sortCriteria == 'grade' && plc.sortDirection == 'desc'"></i>
                  </button>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="pizza in plc.pizzas">
            <td>
               <h3><a ng-href ng-click="plc.order(pizza._id)">{{pizza.name}}</a></h3>
               <p>{{pizza.description}}</p>
            </td>
            <td>{{pizza.price | currency : "€ "}}</td>
            <td>{{pizza.grade}}</td>
         </tr>
      </tbody>
      <!-- <div class="row gray">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" ng-repeat="pizza in plc.pizzas">
            <h4><a ng-href ng-click="plc.editOrder(pizza._id)">{{pizza.name}}</a></h4><br>
            <p>{{pizza.description}}</p>
            <span class="pull-right">
                <span>{{pizza.price}} e</span>
                <span>{{pizza.grade}}</span>
            </span>
        </div>
          </div> -->
   </table>
   </div>
</div>

